.App {
  text-align: center;
}

.calculator-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  border: 1px solid gray;
  width: 500px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse
}

.button-container > button {
  flex: 1 0 26%;
  margin: 2px;
  width: 30px;
  height: 30px;
}

button {
  background-color: #d1d1d1;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
}

.calculated-value {
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column: 0 span 4;
  text-align: right;
  padding: 0 5px;
}
